.contenido {
  background-color: #90a081;
}
.boton {
  background-color: #ffc107;
  border: none;
  border-radius: 6px;
  color: #000;
}

.contenido-secundario {
  background-color: #f1ac7b;
  height: 100vh;
  min-width: 30vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  padding: 15px;
}

.consola {
  background-color: #1e1e1e;
  color: #0dbc6a;
  font-size: small;
  overflow-y: scroll;
}

pre {
  color: #0dbc6a;
}
.consola-size {
  width: 75%;
  min-width: 75%;
  height: 75%;
  padding: 10px;
}
